.stage{
    display: flex;
    justify-content: center;
    align-items: center;
    .canvas{
        width: 100%;
    }
}



@media screen and (min-width: 768PX){
.stage{
    display: flex;
    justify-content: center;
    align-items: center;
    .canvas{
        width: 100%;
    }
}



}