.stage{
    .canvas{
      display: block;
      margin: 10px auto;
      width: 750px;
      box-shadow: 0 0 5px #ededed;
    }
}





@media screen and (min-width: 768PX){
.stage{
    .canvas{
      display: block;
      margin: 10PX auto;
      width: 750PX;
      box-shadow: 0 0 5PX #ededed;
    }
}





}